
body{
  font-family: 'Raleway', sans-serif;
}

.container{
  width:100%;
  height:750px;
}

.title{
  position: absolute;
  border: 0px black solid;
  margin-top: 10px;
  margin-left: 450px;
  height: 80px;
  width: 400px;

}

.gameScreen{
  height: 750px;
  width: 1300px;
  border: solid red 0px;
}

.leftScreen{
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  height: 450px;
  width:550px;
  border: green 0px solid;
}

.rightScreen{
  position: absolute;
  margin-top: 100px;
  margin-left: 700px;
  height: 450px;
  width:550px;
  border: blue 0px solid;
}

.leftScore{
  position: absolute;
  margin-top: 620px;
  margin-left: 50px;
  height: 150px;
  width:550px;
  border: purple 0px solid;
}

.rightScore{
  position: absolute;
  margin-top: 620px;
  margin-left: 700px;
  height: 150px;
  width:550px;
  border: purple px solid;
}

.playerTag{
  position: relative;
  margin-top:-2px;
}

.tablePosition{
  margin-top: 8px;
}

table, tr, td{
  border-spacing:0;
  border: 1px solid black;
}

td {
  text-align:center;
  width: 56px;
  height: 56px;
  background-color:white;
}

.gameReadyTd {
  text-align:center;
  width: 56px;
  height: 56px;
  background-color:#9999ff;
}

.shipHitTd {
  text-align:center;
  width: 56px;
  height: 56px;
  background-color:red !important;
}

.cellGameReady{
  width:50px;
  height:50px;
  background: transparent;
  border: none !important;
  border:none;
  display: hidden;
}

.cell{
  width:50px;
  height:50px;
  background: transparent;
  border: none !important;
  border:none;
}

.cell:focus {
      outline: none;
}
